<section id="contact" class="vh-100 pt-5">
        <div class="container">
            <div class="title text-center mb-5">
                <span class="text-uppercase mt-3 d-block text-white">contact us</span>
            </div>

            <form action="" class="mx-auto">
                <div class="mb-3">
                    <input type="text" class="form-control bg-transparent text-white border-4 border-white" placeholder="Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control bg-transparent text-white border-4 border-white" placeholder="Email">
                </div>
                <div class="mb-3">
                    <textarea name="" id="" cols="" rows="5" class="form-control bg-transparent text-white border-4 border-white" placeholder="message"></textarea>
                </div>
                <button type="submit" class="btn d-block mx-auto bg-white border-white mt-4">Submit</button>
            </form>
        </div>
    </section>

    <footer class="py-5 bg-dark text-white">
        <div class="container">
            <p class="text-center my-3">Template Created With <span class="fw-light">Nicepage</span></p>
        </div>
    </footer>
