<section id="contact">
	<div class="container">
		<span>Contact Us</span>
	<form>
		<div>
			<input type="text" class="form-control" placeholder="Name">
		</div>
		<div>
			<input type="text" class="form-control" placeholder="Email">
		</div>
		<div>
			<textarea name="" id="" cols="" rows="5" class="form-control" placeholder="message"></textarea>
		</div>
		<button type="submit">Submit</button>
	</form>
</div>
</section>
