 <div class="header-banner">
            <div class="container d-flex flex-column align-items-center justify-content-center">
                <h1 class="mb-4">Creative Ideas</h1>
                <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor impedit velit vel nostrum quasi in. Tenetur maiores quibusdam et dolor!</p>
                <a href="#" class="btn btn-light btn-lg">Read More</a>
            </div>
        </div>
